.row
  .col-sm-10
    %h2
      %span.profile_name
        = profile.name
      %span.profile_handle
        = profile.diaspora_handle
    %small
      = "#{profile.name} shares with you"
  .col-sm-2.clearfix
    .pull-right
      .placeholder.aspect-membership-dropdown
        - #TODO: Aspect Button here!
.profile-horizontal-bar
  .pull-right
    - # Buttons
  %ul.profile_nav
    %li
      = link_to people_path(profile) do
        %i.entypo-docs
        = t("profile.posts")
    %li
      = link_to person_photo_path(profile) do
        %i.entypo-picture
        = t("profile.photos")

