%article{id: dom_id(post), class: "stream-element"}
  %div
    = render partial: "streams/stream_post_author", locals: {author: post.author, created_at: post.created_at, type: "post"}
    %span.post-head-text
      = range_tag(post)
      - if current_user&.podmin?
        = "lang: #{post.language_id}"
  %div{class: classify(post.type)}
    - if post.type === "Reshare"
      = post.rendered_message.html_safe # Print shared post text, then embed original post
      = render partial: "streams/stream_root_element", locals:{post: post.root, type: "reshare"} if post.root.present?
    - else
      = render partial: "streams/attached_photos", locals:{post: post} if post.photos.exists?
      = post.rendered_message.html_safe
      = render partial: "streams/oembed", locals:{post: post}
      = render partial: "streams/opengraph", locals:{post: post}
  = render partial: "streams/stream_footer",locals:{post: post}
  = render partial: "streams/comments/comments", locals: {comments: post.last_three_comments}
