- if user_signed_in?
  -if post.provider_display_name.present?
    %strong
      = t("via", provider: post.provider_display_name)
  = render partial: "streams/interactions/like_action" unless post.own_interaction_state[:liked]
  = render partial: "streams/interactions/unlike_action", locals: {post: post} if post.own_interaction_state[:liked]
  - # posts can not be commented yet
  = render partial: "streams/interactions/comment_action", locals: {post: post} if false
  = render partial: "streams/interactions/reshare_action", locals: {post: post} if post.user_can_reshare?