%div{id: dom_id(post), class: "root-stream-element"}
  %div.post-sub-headline
    = link_to "/people/#{post.author.guid}", class: "img hovercardable" do
      = image_tag(post.author.avatar_small, class: "avatar", alt: post.author.diaspora_handle)
    .person-name
      = link_to post.author.full_name,  "/people/#{post.author.guid}", class: "author-name"
    = local_time post.created_at, class: "post-head-text"
  %div{class: classify(post.type)}
    = post.text
