%article{id: dom_id(post), class: "stream-element"}
  %div
    = render "stream_post_author", author: post.author, created_at: post.created_at
    %span.post-head-text
      = range_tag(post)
  %div{class: classify(post.type)}
    - if post.type === "Reshare"
      = post.rendered_message.html_safe # Print shared post text, then embed original post
      = render "stream_root_element", post: post.root
    - else
      = post.rendered_message.html_safe
      = render "oembed", post: post
      = render "opengraph", post: post
  = render "stream_footer", post: post
  = render "streams/comments/comments", comments: post.last_three_comments