= link_to_person(guid: author.guid, css_class: "img") do
  = image_tag(author.avatar_small, class: "avatar avatar-#{type}", alt: author.diaspora_handle)
.person-name
  = link_to_person(guid: author.guid, css_class: "author-name") do
    = author_full_name(author)