- if user_signed_in?
  -if post.provider_display_name.present?
    %strong
      = t("via", provider: post.provider_display_name)
  = render partial: "streams/interactions/like_action" unless post.own_interaction_state[:liked]
  = render partial: "streams/interactions/unlike_action", locals: {post: post} if post.own_interaction_state[:liked]
  &#8231
  = link_to "#", rel: "nofollow", role: "button" do
    %i.bi.bi-chat
    = t("post-actions.comment")
  - if post.user_can_reshare?
    &#8231
    = link_to new_reshare_path(root_guid: post.guid), rel: "nofollow", role: "button",
    data: { turbo_frame: "remote_modal",
    turbolinks_action: "replace" } do
      %i.bi.bi-share
      = t("post-actions.share")