%div
  = render partial: "streams/stream_post_author", locals: {author: post.author, created_at: post.created_at, type: "post"}
  = render partial: "streams/post_header_information", locals: {post: post}
  %div{class: classify(post.type)}
    - if post.type === "Reshare"
      = post.rendered_message.html_safe # Print shared post text, then embed original post
      = render partial: "streams/stream_root_element", locals:{post: post.root, type: "reshare"} if post.root.present?
      = t("post.rehare_removed") if post.root.nil?
    - else
      = render partial: "streams/attached_photos", locals:{post: post} if post.photos.exists?
      = post.rendered_message.html_safe
      = render partial: "streams/oembed", locals:{post: post}
      = render partial: "streams/opengraph", locals:{post: post}