.comment{data: {id: "#{comment.guid}"}}
  .img
    = render "streams/comments/comment_author", {author: comment.author, created_at: comment.created_at}
  = comment.rendered_text
  .div
    = link_to "#", rel: "nofollow", role: "button" do
      %i.bi.bi-heart
      = t("comment-actions.like")
    &#8231
    = link_to "#", rel: "nofollow", role: "button" do
      %i.bi.bi-chat
      = t("comment-actions.answer")