- if post.own_interaction_state[:liked]
  = turbo_frame_tag "post_own_like_#{post.id}" do
    = render partial: "streams/interactions/own_interactions", locals:{post: post}
- else
  = turbo_frame_tag "post_like_#{post.id}" do
    = render partial: "streams/interactions/other_interactions", locals: {post: post}